<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
  <head>
    {% block head %}
      <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
      <meta charset="utf-8" />
      <meta name="description" content="Inséminés, élevés et tués, les morceaux d'animaux présents dans les rayons des magasins Migros ne semblent pas être un exemple pertinent de respect !">
      {% assets filters="scss,cssmin", output="css/style.min.css",
        "vendors/photoswipe/photoswipe.css",
        "vendors/photoswipe/default-skin/default-skin.css",
        "scss/_foundation.scss",
        "scss/_layout.scss",
        "scss/_modules.scss"
      %}
        <link rel="stylesheet" href="/{{ ASSET_URL }}">
      {% endassets %}
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="shortcut icon" href="{{ main_siteurl }}/favicon.ico" />
    {% endblock head %}
  </head>

  <body>
    <div class="wrapper">
      <header class="header row">
        <div class="medium-12 columns">
          <div class="row">
            <div class="medium-12 columns">
              <ul class="horizontal header--language-chooser">
                <li><a href="/fr/">FR</a></li>
                <li><a href="/de/">DE</a></li>
                <li><a href="/it/">IT</a></li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="medium-12 columns header--logo">
              <a href="{{ SITEURL }}/">
                <img src="/{{ THEME_STATIC_DIR }}/images/logo.gif">
              </a>
              <p class="header--logo--text">Pour une Migros <span class="migros">sans</span> foie gras</p>
            </div>
          </div>
        </div>
        <div class="header--nav">
          <nav><ul class="horizontal">
            {% if DISPLAY_PAGES_ON_MENU %}
              {% for p in PAGES %}
                <li{% if p == page %} class="active"{% endif %}>
                  <a href="{{ SITEURL }}/{{ p.url }}">{{ p.menutitle|default(p.title) }}
                  </a>
                </li>
              {% endfor %}
            {% else %}
              {% if DISPLAY_CATEGORIES_ON_MENU %}
                {% for cat, null in categories %}
                  <li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
                {% endfor %}
              {% endif %}
            {% endif %}
          </ul></nav>
        </div>
      </header>
      <div class="row container-main">
        <div class="medium-12 columns">
          {% block content %}{% endblock %}
        </div>
      </div>
      <footer>
        <div class="row">
          <div class="small-12 columns hide-for-large-up social-icons">
          </div>
        </div>
        <div class="row">
          <div class="small-12 columns medium-full-width">
            <div class="footer-content">
            </div>
          </div>
        </div>
      </footer>
    </div>
    {% assets filters="rjsmin", output="js/main.min.js",
    "foundation/js/vendor/jquery.js",
    "foundation/js/foundation/foundation.js",
    "foundation/js/foundation/foundation.topbar.js",
    "vendors/photoswipe/photoswipe.min.js",
    "vendors/photoswipe/photoswipe-ui-default.min.js",
    "js/photoswipe.js"
    %}
    <script src="{{ SITEURL }}/{{ ASSET_URL }}"></script>
    {% endassets %}
    {% include "_photoswipe.html" %}

    <script>
      $(document).foundation();
    </script>
    <script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-51773621-2', 'auto');
ga('send', 'pageview');

    </script>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.src = "//connect.facebook.net/{{ DEFAULT_LANG }}_{{ DEFAULT_LANG|upper }}/sdk.js#xfbml=1&appId=278573702314109&version=v2.0";
fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
  </body>
</html>
