[submodule "pelican-plugins"]
	path = pelican-plugins
	url = https://github.com/getpelican/pelican-plugins
[submodule "themes/migras/static/foundation"]
	path = themes/migras/static/foundation
	url = https://github.com/zurb/bower-foundation
[submodule "custom_plugins/pelican-jinja2content"]
	path = custom_plugins/pelican-jinja2content
	url = https://github.com/sephii/pelican-jinja2content
[submodule "custom_plugins/image_process"]
	path = custom_plugins/image_process
	url = https://github.com/whiskyechobravo/image_process
