[submodule "pelican-plugins"]
	path = pelican-plugins
	url = https://github.com/getpelican/pelican-plugins
[submodule "themes/migras/static/foundation"]
	path = themes/migras/static/foundation
	url = https://github.com/zurb/bower-foundation
