@import "_settings";
@import "_foundation";

body {
  background-image: url("../images/bg.png");
}

h1, h2, h3 {
  color: $migros-color;
}

.container-main {
  background-color: white;
  padding-top: 10px;
}

.header a:hover {
  color: $header-anchor-font-color-hover;
  text-decoration: none;
}

.hidden {
  display: none;
}

figure {
  margin: 0;
}

[class*="block-grid-"] {
  text-align: center;
}
