<div class="photoswipe-gallery" itemscope itemtype="http://schema.org/ImageGallery">
  <ul class="medium-block-grid-5">
    {% for photo in photos %}
    <li>
      {{ photo }}
    </li>
    {% endfor %}
    {#
    {% for photo in photos %}
    <li>
      <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ photo.url }}" itemprop="contentUrl" data-size="600x400">
          <img class="image-process-thumb" src="{{ photo.thumbnail }}"
                                           itemprop="thumbnail" alt="{{ photo.description }}" />
        </a>
        <figcaption class="hidden" itemprop="caption description">{{ photo.description }}</figcaption>
      </figure>
    </li>
    {% endfor %}
    #}
  </ul>
</div>
