$migros-color: #ff6600;
$link-color: $migros-color;
$link-hover-header-color: white;
$link-hover-color: $migros-color;

$h1-font-size: rem-calc(27);
$h2-font-size: rem-calc(23);
$h3-font-size: rem-calc(18);
